<mtapp:setting
    id="SimpleCommentKey"
    hint="<__trans phrase="Please set the key for SimpleComment.">"
    show_hint="1"
    label="<__trans phrase="SCKey">">
   <input name="SimpleCommentKey" id="SimpleCommentKey" size="50" value="<TMPL_VAR NAME=SimpleCommentKey ESCAPE=HTML>" />
</mtapp:setting>

<mtapp:setting
    id="SimpleCommentKeyValue"
    hint="Please set the Value for SimpleComment."
    show_hint="1"
    label="<__trans phrase="SCValue">">
<input name="SimpleCommentKeyValue"  id="SimpleCommentKeyValue" size="50" value="<TMPL_VAR NAME=SimpleCommentKeyValue ESCAPE=HTML>" />
</mtapp:setting>
